project:
  type: website
  output-dir: docs

website:
  title: "David Villalobos Hornback's Website"
  navbar: 
    left:
      - href: index.qmd
        text: About
      - href: resume.qmd
        text: Resume
      - href: projects.qmd  # <-- add this
        text: My Projects   # <-- add this
format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



